<a href="https://colab.research.google.com/github/Simransoni1/git-regex/blob/main/test_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range (1,5):
  for j in range (1,i+1):
    if( j==i or j==1):
      print("#",end=" ")
    else:
      print(" ", end=" ")
  print("")
for i in range (i-1,0,-1):
  for j in range (1,i+1):
    if(j==1 or j==i):
      print("#",end=" ")
    else:
      print(" ", end=" ")
  print("")

#
# #
#   #
#     #
#   #
# #
#

In [ ]:
#Q2. Write a Python program to print the count of number of character matching in pair of string

str1="regexian"
str2="tushar"

count=0
sum=0
for char in range (0,len(str1)):
  if str1[char] in str2:
    if(str1[char]=="a" and "r" or str2=="a" and "r"):

     count+=1

  print(count)

0
0
0
0
0
0
1
1

In [ ]:
str1="regexian"
str2="tushar"

count=0
for char in str1:  # Iterate through each character in str1
  if char in str2:  # Check if the character is present in str2
    count+=1       # If found, increment the count

print(count)        # Pr

2

In [ ]:

str1="bb1122@x"
str2="abcdef@123"

count=0
for char in str1:
  if char in str2 and char in ("b", "1", "2", "@"):

      count+=1

print(count)

7

In [ ]:
str1="bb1122@x"
str2="abcdef@123"

count=0
for char in str1:
  if char in str2:

    if char in ("b", "1", "@", "2"):
      count+=1

print(count)

7

In [ ]:
num=int(input("enter the no "))
num=int(input("enter the duplicate no "))

In [ ]:
for i in range (1):
  for j in range(1,7):
    print("*",end=" ")
  if(i==0 or j==i-2):
    print("*",end=" ")
  else:
    print(" ",end="")

* * * * * * *

In [ ]:
for i in range (1):
  for j in range (1,7):
    print("#",end=" ")
    if( j==i or j==1):
      print("#",end=" ")
    else:
      print(" ", end=" ")
  print("")
for i in range (j-1,0,-2):
  for j in range (1,j+1):
    if(i==-2 or j==i):
      print("#",end=" ")
    else:
      print(" ", end=" ")
  print("")

# # #   #   #   #   #
        #
    #
# # # # # #

In [ ]:
for num in range(2,12):
  prime=0
  for i in range(2,num):
    if(num%i==0):
      prime=1
      break
  if(prime==0):
    print(num,end=" ")

2 3 5 7 11

In [5]:
for i in range(1,5):
  for j in range(i,4):
    print("-",end="")
  for k in range(1,i+1):
    if(k==1 or i==4 or i==k):
      print("*",end=" ")
    else:
      print("^",end="")
  print("")

---*
--* *
-* ^*
* * * *

In [13]:
for i in range(1,6):
  for j in range(1,i):
    print("-",end="")
  for j in range(i,6):
    if(j==5 or j==i or i==1):
      print("*",end="")
    else:
      print(" ",end="")

  print()

*****
-*  *
--* *
---**
----*

In [51]:
for i in range(1,6):
  for j in range(97,102-i):
    print(chr(j),end="")

  print(" ")

abcd
abc
ab
a