<a href="https://colab.research.google.com/github/Simransoni1/git-regex/blob/main/tuple%2Cdictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mytuple=(10,20,30,"abc",10)
mytuple.count(10)

2

In [ ]:
mytuple=(10,20,30,"abc",10)
mytuple.index("abc")

3

In [ ]:
mydictionary={10:"aman",11:"aditya"}
print(mydictionary[11])

aditya

In [ ]:
mydictionary={10:"aman",11:"aditya"}
mydictionary[12]="naina"
mydictionary[10]="ujjwal"
print(mydictionary)

{10: 'ujjwal', 11: 'aditya', 12: 'naina'}

In [ ]:
mydictionary={10:"aman",11:"aditya"}
mydictionary[12]="naina"
mydictionary[10]="ujjwal"
out=mydictionary.pop(11)
print(out)

aditya

In [ ]:
mydictionary={10:"aman",11:"aditya"}
mydictionary.update({10:"naina","salary":5000})
print(mydictionary)

{10: 'naina', 11: 'aditya', 'salary': 5000}

In [ ]:
mydictionary={10:"aman",11:"aditya"}
print(mydictionary.keys())

dict_keys([10, 11])

In [ ]:
mydictionary={10:"aman",11:"aditya"}
for i in  mydictionary:
  print(i,mydictionary[i])

10 aman
11 aditya

In [ ]:
mydictionary={10:"aman",11:"aditya"}
for i in  mydictionary.keys():
  print(i,mydictionary[i])

10 aman
11 aditya

In [ ]:
mydictionary={10:"aman",11:"aditya"}
for i in  mydictionary.values():
  print(i)

aman
aditya

In [ ]:
mydictionary={10:"aman",11:"aditya"}
for i in  mydictionary.items():
  print(i)

(10, 'aman')
(11, 'aditya')

In [ ]:
s="hello"
count=0
mydictionary={}
for i in s:
  count+=1
mydictionary["total"]=count
print(mydictionary)

{'total': 5}

In [ ]:
s="hello"
count=0
mydictionary={"total":0}
for i in s:
 mydictionary["total"]=mydictionary["total"]+1
print(mydictionary)

{'total': 5}

In [ ]:
s="helloasdf6123"

mydictionary={"vowel":0}
for i in s:
  if i in "aeiou":
    mydictionary["vowel"]+=1
print(mydictionary)

{'vowel': 3}

In [ ]:
str="heaeioccddkckjdkllo"
mydict={"total":0}
for i in str:
    if i in "aeiou":
        mydict["total"]+=1
print(mydict)

{'total': 6}

In [ ]:
s="heyvit"
mydict={}
for i in range(0,len(s)):
    mydict[str[i]]=1

print(mydict)

{'h': 1, 'e': 1, 'a': 1, 'i': 1, 'o': 1}

In [ ]:
x=[1,2,2,3,4,4,5]
for i in range (0,len(x)):
  for j in range(i+1,len(x)):
    if(x[i]==x[j]):
     x.pop(j)
     break

  print("duplicates",x[i])

duplicates 1
duplicates 2
duplicates 3
duplicates 4
duplicates 5

IndexError: list index out of range

In [ ]:
s = "regex software"
vowels = 'aeiou'
mydict = {}

for char in s:
    if char in vowels:
        if char in mydict:
            mydict[char] += 1
        else:
            mydict[char] = 1

print(mydict)

{'e': 3, 'o': 1, 'a': 1}

In [1]:
[i+5 for i in (10,20,30)]

[15, 25, 35]

In [3]:
myset={1,2,3,1,1,1,"def",555,7}
myset.add(80)
myset.discard(1191)
print(myset)

{'def', 1, 2, 3, 80, 7, 555}