<a href="https://colab.research.google.com/github/Simransoni1/git-regex/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("enter a no "))

for i in range(1,n):
  n=n+1

  print(i)

enter a no 10
1
2
3
4
5
6
7
8
9

In [ ]:
n=int(input("enter a no "))

for i in range(n,0,-1):


  print(i)

enter a no 10
10
9
8
7
6
5
4
3
2
1

In [ ]:
x=input("enter a char ")
x=ord(x)
for ch in range(ord('a'),ord('z')):

  x+=1
  print(chr(x))

enter a char a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
n=int(input("enter a no "))
for i in range (1,101):
  if(i%2==0):
    print(i)

enter a no 1
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:

n=int(input("enter a no "))
sum=0
for i in range (1,n):
  if(i%2!=0):
    sum=sum+i
    print(sum)

enter a no 100
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [ ]:
#12 factors of no
n=int(input("enter a no :"))

for i in range(1,n+1):
  if(n%i==0):

    print(i)

enter a no :10
1
2
5
10

In [ ]:
#6 quyestion for loop digits count
n=int(input("enter a no :"))

count=0

for i in range (1,n):
  n=n//10
  count+=1
  if(n==0):
   break
print(count)

enter a no :1234
4

In [ ]:
#7 quyestion for loop  sum of digits
n=int(input("enter a no :"))

sum=0

for i in range (1,n):
  digit=n%10
  sum=sum+digit
  n//=10
print(sum)

enter a no :12345
15

In [9]:
#8 quyestion for loop  find 1st and last digit of number
num=int(input("enter a no :"))
last_digit=num%10
for i in range (1,num+1):
  num= num//10
  if num <10:
    first_digit = num
    break
print(first_digit)
print(last_digit)

enter a no :12345
1
5

In [18]:
#9 quyestion for loop  find  sum of 1st and last digit of number
num=int(input("enter a no :"))
sum=0
last_digit=num%10
for i in range (1,num+1):
  num= num//10
  if num <10:
    first_digit = num
    break
sum=last_digit+num
print(sum)

enter a no :1234
5

In [29]:
#10 quyestion for loop  enter a no and print its reverse
num = int(input("enter a no :"))

reversed_num = 0  # Initialize variable to store the reversed number

for i in range(0,num):
    if(num > 0):
      digit = num % 10  # Extract the last digit
      reversed_num = (reversed_num * 10) + digit  # Add the digit to the reversed number
      num //= 10  # Remove the last digit from the original number

print(reversed_num)  # Print the rev

enter a no :1234
4321

In [ ]:
#11.Write a program to find the power of a number using for loop.

In [31]:
#1212.Write a program to find all factors of a number.
n=int(input("enter a no :"))

for i in range(1,n+1):
  if(n%i==0):

    print(i)

enter a no :12
1
2
3
4
6
12

In [6]:
#13.Write a program to calculate the factorial of a number.
factorial=1
num=int(input("enter a no :"))
for i in range (1,num+1):
  factorial*=i
print(factorial)

enter a no :6
720