<a href="https://colab.research.google.com/github/Simransoni1/git-regex/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x, y = 5, 10
while x < 10 and y > 5:
    print(x, y, end=" | ")
    x += 2
    y -= 2

5 10 | 7 8 | 9 6 |

In [ ]:
x, y = 2, 8
while x < 10 and y > 0:
    x += 3
    y -= 2
print(x, y)

11 2

In [ ]:
x, y = 2, 8
while x < 10 and y > 0:
    x += 3
    y -= 2
print(x, y)

11 2

In [ ]:
i, j = 1, 5
while i < 5 and j > 0:
    print(i * j, end=" ")
    i += 1
    j -= 2

5 6 3

In [ ]:
s = "banana"
i = 0
while i < len(s):
    if s[i] == "a":
        i += 1
        continue
    print(s[i], end=" ")
    i += 1

b n n

In [ ]:
a= 10
b = 10
while a is b:
    print(a, end=" ")
    a += 1

10

In [ ]:
i = 0
while i < 3:
    print(i, end=" ")
    i = i + 1
    if i == 2:
        break
else:
    print("Loop ended")

0 1

In [ ]:
i = 0
while i < 3:
    print(i, end=" ")
    i = i + 1
else:
    print("else executed")

0 1 2 else executed

In [ ]:
word = "whileloop"
i = 0
while i < len(word):
    if word[i] in "aeiou":
        print("*", end=" ")
    else:
        print(word[i], end=" ")
    i += 1

w h * l * l * * p

In [ ]:
x = 5
while x > 0:
    x -= 1
    if x == 2:
        break
    print(x, end=" ")

4 3

In [ ]:
x = 10
while x > 0:
    x //= 3
    print(x, end=" ")

3 1 0

In [ ]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x, end=" ")

1 2 4 5

In [ ]:
s = "Python"
i = 0
while i < len(s):
    if s[i] in "aeiouAEIOU":
        print(s[i], end=" ")
    i += 1

o

In [ ]:
i = 1
while i < 20:
    if i % 5 == 0:
        i += 2
    print(i, end=" ")
    i += 3

1 4 7 12 17

In [ ]:
i = 1
while i < 10:
    if i % 2 == 0:
        i += 3
    print(i, end=" ")
    i += 1

1 5 9

In [ ]:
#project banking system
class Bank_Account:
  def __init__(self,accNo,name,balance):
    self.accNo=accNo
    self.name=name
    self.balance=balance

  def deposit(self,amount):
    if amount<0:
     print("invalid amount for deposit")
    else:
      self.balance=self.balance+amount
  def withdrawAmount(self,amount):
    if amount> self.balance:
      print("insufficient amount")
    else:
      self.balance-=amount


ba1=Bank_Account(10001,"simran",99)
    self.balance=balance

  def deposit(self,amount):
    if amount<0:
     print("invalid amount for deposit")
    else
      self.balance=self.balance+amount

  def withdrawAmount(self,amount):
    if amount> self.balance:
      print("insufficient amount")
    else:
      self.balance-=amount


ba1=Bank_Account(10001,"simran",99)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 23)

In [ ]:
class saving_Account(banl)

In [ ]:
class Bank_Account:
  def __init__(self,accNo,name,balance):
    self.accNo=accNo
    self.name=name
    self.balance=balance

  def deposit(self,amount):
    if amount<0:
     print("invalid amount for deposit")
    else:
      self.balance=self.balance+amount
  def withdrawAmount(self,amount):
    if amount> self.balance:
      print("insufficient amount")
    else:
      self.balance-=amount

# Create an instance of the Bank_Account class
ba1 = Bank_Account(10001,"simran",99)

# The duplicate code block below has been removed
#     self.balance=balance

#   def deposit(self,amount):
#     if amount<0:
#      print("invalid amount for deposit")
#     else
#       self.balance=self.balance+amount

#   def withdrawAmount(self,amount):
#     if amount> self.balance:
#       print("insufficient amount")
#     else:
#       self.balance-=amount


# ba1=Bank_Account(10001,"simran",99)


# The incomplete class definition below is also removed
# class saving_Account(banl)

In [ ]:
str="hey hello user hey"
s1=[]
text=str.split(" ")
for x in text:
  if x in text:
    s2.append(x)
    return s1

SyntaxError: 'return' outside function (<ipython-input-1-1583300151>, line 7)

In [ ]:
s = "hi hello user hi"
s1 = s.split(" ")
s2 = ""
for i in s1:
	if i not in s2:
		s2.join(i," ")
print(s2)

In [ ]:
class college:
  def __init__(self, x):
                 self.x=x

In [ ]:
def outerFunc():
  def inner_function():
    print("this is inner function")
  return inner_function()
x=outerFunc()
print(x)

this is inner function
None

In [ ]:
def outerFunc(num):
  def inner_function():
    out= num().upper()
    return("inside inner out=>",out)
  return inner_function

@outerFunc
def test():
  return("hey regex software")
print(test())

('inside inner out=>', 'HEY REGEX SOFTWARE')

In [ ]:
def func():
  a=0
  b=1
  while(True):
    yield a
    a,b=b,a+b

In [ ]:
gen=func()
for i in range(1,11):
  print(next(gen))

0
1
1
2
3
5
8
13
21
34

In [ ]:
s = "heyhello"
d = {}

for char in s:
    d[char] = d.get(char, 0) + 1
res = min(d, key=d.get)
print(str(res))

y

In [ ]:
s = "heyhello"
res = min(s, key=lambda char:
          s.count(char))
print(str(res))

y

In [ ]:
def char_frequency(input_str):
    freq = {}
    for char in input_str:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
    return freq
    for char in frequency:
    if frequency[char] == min_freq:

IndentationError: expected an indented block after 'for' statement on line 9 (ipython-input-20-3911341584.py, line 10)

In [ ]:

str = "heyhello"
result = char_frequency(str)
print(result)

{'h': 2, 'e': 2, 'y': 1, 'l': 2, 'o': 1}

In [ ]:
string = "heyhello"
frequency = {}


for char in string:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1


min_freq = min(frequency.values())


print("Character(s) with minimum frequency:")
for char in frequency:
    if frequency[char] == min_freq:
        print(f"{char}: {frequency[char]}")

Character(s) with minimum frequency:
y: 1
o: 1

In [ ]:
str = "regex software edtech company"
substr  = "company"
if substr in str:
    print("True")
else:
    print("False")

True

In [ ]:
str="regex software edtech company"
str1 ="company"
a=0
str=str.split(" ")
for i in str:
    if str1==i :
        a=1
if(a==1):
    print("true")
else:
        print("false")

true

In [ ]:
balance = 4000
spent = 344
remaining = balance-spent

print(f"I spent $ {spent} and  remaining $ {remaining} ")

I spent $ 344 and  remaining $ 3656