<a href="https://colab.research.google.com/github/Simransoni1/git-regex/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
mytuple=(10,20,30,"abc",10)
mytuple.count(10)

2

In [4]:
mytuple=(10,20,30,"abc",10)
mytuple.index("abc")

3

In [5]:
mydictionary={10:"aman",11:"aditya"}
print(mydictionary[11])

aditya

In [9]:
mydictionary={10:"aman",11:"aditya"}
mydictionary[12]="naina"
mydictionary[10]="ujjwal"
print(mydictionary)

{10: 'ujjwal', 11: 'aditya', 12: 'naina'}

In [11]:
mydictionary={10:"aman",11:"aditya"}
mydictionary[12]="naina"
mydictionary[10]="ujjwal"
out=mydictionary.pop(11)
print(out)

aditya

In [12]:
mydictionary={10:"aman",11:"aditya"}
mydictionary.update({10:"naina","salary":5000})
print(mydictionary)

{10: 'naina', 11: 'aditya', 'salary': 5000}

In [14]:
mydictionary={10:"aman",11:"aditya"}
print(mydictionary.keys())

dict_keys([10, 11])

In [16]:
mydictionary={10:"aman",11:"aditya"}
for i in  mydictionary:
  print(i,mydictionary[i])

10 aman
11 aditya

In [20]:
mydictionary={10:"aman",11:"aditya"}
for i in  mydictionary.keys():
  print(i,mydictionary[i])

10 aman
11 aditya

In [22]:
mydictionary={10:"aman",11:"aditya"}
for i in  mydictionary.values():
  print(i)

aman
aditya

In [23]:
mydictionary={10:"aman",11:"aditya"}
for i in  mydictionary.items():
  print(i)

(10, 'aman')
(11, 'aditya')

In [27]:
s="hello"
count=0
mydictionary={}
for i in s:
  count+=1
mydictionary["total"]=count
print(mydictionary)

{'total': 5}

In [33]:
s="hello"
count=0
mydictionary={"total":0}
for i in s:
 mydictionary["total"]=mydictionary["total"]+1
print(mydictionary)

{'total': 5}

In [44]:
s="helloasdf6123"

mydictionary={"vowel":0}
for i in s:
  if i in "aeiou":
    mydictionary["vowel"]+=1
print(mydictionary)

{'vowel': 3}

In [43]:
str="heaeioccddkckjdkllo"
mydict={"total":0}
for i in str:
    if i in "aeiou":
        mydict["total"]+=1
print(mydict)

{'total': 6}

In [45]:
s="heyvit"
mydict={}
for i in range(0,len(s)):
    mydict[str[i]]=1

print(mydict)

{'h': 1, 'e': 1, 'a': 1, 'i': 1, 'o': 1}