<a href="https://colab.research.google.com/github/Simransoni1/git-regex/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
n=int(input("enter a no "))

for i in range(1,n):
  n=n+1

  print(i)

enter a no 10
1
2
3
4
5
6
7
8
9

In [39]:
n=int(input("enter a no "))

for i in range(n,0,-1):


  print(i)

enter a no 10
10
9
8
7
6
5
4
3
2
1

In [60]:
x=input("enter a char ")
x=ord(x)
for ch in range(ord('a'),ord('z')):

  x+=1
  print(chr(x))

enter a char a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [64]:
n=int(input("enter a no "))
for i in range (1,101):
  if(i%2==0):
    print(i)

enter a no 1
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [92]:

n=int(input("enter a no "))
sum=0
for i in range (1,n):
  if(i%2!=0):
    sum=sum+i
    print(sum)

enter a no 100
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500